
FunctionalInterfaces/Employee.class
FunctionalInterfaces/EmployeeLocation.class
FunctionalInterfaces/EmployeeLocationExtractor.class
FunctionalInterfaces/Test.class
FunctionalInterfaces/MyFunction.class
Streamapi/Employee.class
Streamapi/FilterNegative.class
Streamapi/TestPassCount.class
Streamapi/Student.class
Streamapi/FilterEmployeesByLocation.class
